
.blue {
  color: Blue;
}

.coral {
  color: Coral;
}

.dodgerBlue {
  color: DodgerBlue;
}

.springGreen {
  color: SpringGreen;
}

.yellowGreen {
  color: YellowGreen;
}

.green {
  color: Green;
}

.orangeRed {
  color: OrangeRed;
}

.red {
  color: Red;
}

.goldenRod {
  color: GoldenRod;
}

.hotPink {
  color: HotPink;
}

.cadetBlue {
  color: CadetBlue;
}

.seaGreen {
  color: SeaGreen;
}

.chocolate {
  color: Chocolate;
}

.blueViolet {
  color: BlueViolet;
}

.firebrick {
  color: Firebrick;
}

.greenScreen {
  background-color: #00b140;
}

.transparency {
  background-color: rgba(0, 0, 0, 0);
}