.marquee span {
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  position: absolute;
  display: flex;
  align-items: center;
  white-space: nowrap;
  will-change: transform;
}

.marquee span figure img {
  max-width: 100%;
  vertical-align: top;
}

.marquee span > * {
  text-align: center;
  vertical-align: middle;
}

.marquee:hover {
  animation-play-state: paused
}

.marquee span.right {
  padding-left: 100%;
  animation: marqueeRight 30s linear 1;
}

.marquee span.left {
  padding-left: 100%;
  animation: marqueeLeft 30s linear 1;
}

.marquee span.faster {
  animation-duration: 10s;
}

.marquee span.fast {
  animation-duration: 15s;
}

.marquee span.normal {
  animation-duration: 20s;
}

.marquee span.slow {
  animation-duration: 25s;
}

.marquee span.slower {
  animation-duration: 30s;
}


@keyframes marqueeRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes marqueeLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
