@charset "utf-8";

@import "./minireset.scss";
@import "./marquee.scss";
@import "./colors.scss";

@font-face {
  font-family: 'Roobert Regular';
  src: url("../font/Roobert-Regular.woff2") format("woff2");
}

html {
  overflow: hidden;
}

body {
  font-family: 'Roobert Regular', 'Roobert', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 0;
}
